<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>boox</title>
<link href="style.scss" rel="stylesheet">
<link rel='stylesheet' href='css/style.min.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  	<div class="container-fluid">
  		<a class="navbar-brand" href="#"><h1>BooX</h1></a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  			<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarResponsive">
  			<ul class="navbar-nav ml-auto">
  				<li class="nav-item active"><a class="nav-link" href="#app">Input+</a></li>
  				<li class="nav-item"><a class="nav-link" href="#intro">Intro</a></li>
  				<li class="nav-item">  <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="検索..." aria-label="検索...">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
           </form></li>

  			</ul>
  		</div>
  	</div><!--/.container-fluid-->
  </nav>

<div class="container">
<div id="app" class="inpage">
  <h1>
    <button @click="purge">delate</button>
    書籍の紹介
  </h1>
  <form @submit.prevent="addItem">
    <span><p>書籍の名前</p><input type="text" v-model="newItem"></span>
    <span><p>著者・出版社</p><input type="text" v-model="newItem2"></span>
    <span><p>画像</p><input type="file" v-model="newItem3"></span>
    <span><p>感想</p><input type="text" v-model="newItem4" class="kansou"　placeholder="感想・どんな人にオススメか等"></span></br>
    <input type="submit" value="Add">
  </form>

<div id="intro">
  <div class="row w-100">
      <div v-for="(todo, index) in todos" class="col-lg-6 col-md-6 col-sm-12">
        <input type="checkbox" v-model="todo.isDone">
        <span :class="{done: todo.isDone}"><h3>書籍の名前:{{ todo.title }}</h3></span>
        <span :class="{done: todo.isDone}"><p>著者・出版社:{{ todo.title2 }}</p></span>
        <span :class="{done: todo.isDone}"><p>画像{{ todo.title3 }}</p></span>
        <span :class="{done: todo.isDone}"><h3>感想</h3><p>{{ todo.title4 }}</p></span>

      </div>
  </div><!--.row-->
  </div><!--.intro-->
</div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/vue.js"></script>
</body>
</html>
